/* .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.945);
} */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.0);
}

a.nav_link:hover {
    cursor: pointer;
    color: red; 
    }

.nav-link:hover {
    color:red;
}
.div{
    background-color: black;
}


