
.divstyle{
    padding-right: 100px;
    padding-left: 100px;
    
}
.background{
    height: 800px;
    background-image: url('/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg') ;
    background-size: cover;
}


